html{
    width: 100%;
    height: 100%;
    float: left;
    zoom: 1.4; 
}
body{
    width: 100%;
    height: 100%;
    float: left;

}
#root{
    width: 100%;
    height: 100%;
    float: left;
}
.App{
    width: 100%;
    height: 100%;
    float: left;
    overflow-x: hidden;
}
.center{
    width: 100%;
    width: 100%;
    height: fit-content;
    float: left;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 30px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 0px;
}
.mainBlock{
    width: 90%;
    height: 100%;
    max-width: 1060px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.mainContent{
    min-height: 800px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 25px;
    align-items: center;
}
@media (max-width: 1248px) {
    .mainBlock {
        flex-direction: column;
    }

    .mainContent,
    .sideContent {
        flex: 0 0 100%;
    }
}
.ProfileBlock{
    width: 100%;
    max-width: 800px;
    height: fit-content;
    box-sizing: border-box;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    border-radius: 0.6em;
    border: 5px solid black;
    box-shadow: 0.0em 0.2em;
    width: clamp(200px, 60vw, 800px);
    
}
.ProfileHeader{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 8px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    background-position: 17%;
    background-position: 0px -144px;

}
@media (max-width: 700px) {
    .ProfileHeader{
        background-position: center;
    }
}
.ProfileName{
    color: white;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));
  text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black,
    0px  -2px 0 black,
    0px   2px 0 black,
    -2px  0px 0 black,
     2px  0px 0 black;
/*puvodne no outline a cerny text*/
}
.TrainerLevel{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2px;
    box-sizing: border-box;
}
.TrainerLevel p{
    color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
    text-align: left;
}
.TrainerLevelBar{
    width: 100%;
    height: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #cecece;
}
.item{
    width: 124px;
    height: 124px;
    position: absolute;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-size: cover;
    z-index: 1;
}
.trainerItem{
    background-image: url(https://play.pokemonshowdown.com/sprites/trainers/ash.png);
    top: -23px;
    right: -10px;
    filter: drop-shadow(2px 4px 6px black);
}

.ProfileContent{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
}

.Favourite{
    width: 100%;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
    position: relative;
}
.Favourite p{
    color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
    text-align: left;
}
.FavGroup{
    height: fit-content;
    width: fit-content;
    display: flex;
    box-sizing: border-box;
    gap: 6px;
    align-items: center;
}
.FavEdit{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.FavEdit svg{
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    color: black;
    transition: 0.3s ease-out;
}
.FavEdit:hover svg{
    color: #747474;
}
.PokedexLink{
    height: fit-content;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    gap: 6px;
    align-items: center;
}
.PokedexLink a{
    color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
    text-align: left;
}
.PokedexLink p{
    color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.pokeballItem{
    background-image: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-size: cover;
    z-index: 1;
}
.tmItem{
    background-image: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/tm-grass.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-size: cover;
    z-index: 1;
}
.mapItem{
    background-image: url(https://raw.githubusercontent.com/msikma/pokesprite/master/icons/key-item/town-map.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-size: cover;
    z-index: 1;
}
.pokedexItem{
    background-image: url(https://raw.githubusercontent.com/msikma/pokesprite/master/icons/key-item/poke-radar.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-size: cover;
    z-index: 1;
}



.PokemonSelect{
    width: fit-content;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    gap: 6px;
    border-radius: 0.6em;
    border: 5px solid black;
    box-shadow: 0.0em 0.2em;
    padding: 8px;
    width: clamp(220px, 48vw, 600px);
    overflow: auto;
}
.TypeSelect{
    width: fit-content;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    gap: 6px;
    border-radius: 0.6em;
    border: 5px solid black;
    box-shadow: 0.0em 0.2em;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.Type{
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    position: relative;
}
.typeTitle{
    width: fit-content;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
}
.typeTitle p{
    color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
    text-align: left;
}
.typeImage{
    min-width: 90px;
    min-height: 20px;
    height: fit-content;
    width: fit-content;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.3s ease-out;
}
.typeImage:hover{
    transform: translateY(-3px);
    scale: 1.2;
    filter: drop-shadow(0px 3px 2px black);
}
.typeImage:active{
    transform: translateY(0px);
    scale: 1;
    filter: unset;
}
.typeImageSelected{
    min-width: 90px;
    min-height: 20px;
    height: fit-content;
    width: fit-content;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.TrainerEdit{
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 1;
    right: 1px;
    padding: 4px;
    border: 2px solid;
    border-radius: 7px;
    top: 76px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-out;
}
.TrainerEdit:hover{
    background-color: #a1a1a1;
}
.TrainerEdit svg{
    width: 16px;
    height: 16px;
}
.Trainer{
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    position: relative;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-out;
}
.Trainer:hover{
    background-color: #a1a1a1;
}
.FavTrainer{
    background-color: #a1a1a1;
}
.TrainerImage{
    min-width: 50px;
    min-height: 50px;
    height: fit-content;
    width: fit-content;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.3s ease-out;
}





.TrainerSelect{
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: fit-content;
    background-color: white;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 114%;
    z-index: 10;
    gap: 6px;
    border-radius: 0.6em;
    border: 5px solid black;
    box-shadow: 0.0em 0.2em;
    /*padding-top: 8px;*/
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}   
.TrainerHeader{
    width: 100%;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
}
.TrainerHeaderOption{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease-out;
    box-sizing: border-box;
}
.TrainerHeaderOption:hover{
    background-color: #c2c2c2;
}
.SelectedCustomPage{
    background-color: #c2c2c2;
}
.TrainerHeaderOption p{
    color: black;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}
.TrainerContent{
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    padding: 8px;
    padding-top: 0;
}
























.link{
    height: fit-content;
    width: fit-content;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}
.link a {
    position: relative;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in;
    z-index: 1;
}

.link a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* adjust based on spacing */
    width: 0%;
    height: 3px;
    background-color: black;
    transition: width 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}
.link a.active::after {
  width: 100%;

}


#PokedexLink::after{
    background-color: rgb(238, 129, 48);
}
/*
#PokedexLink:hover a{
    color: red;
}
    */
#ItemLink::after{
    background-color: rgb(122, 199, 76);
}
/*
#ItemLink:hover a{
    color: green;
}
    */
#MoveLink::after{
    background-color: rgb(99, 144, 240);
}
/*
#MoveLink:hover a{
    color: blue;
}
*/
.link svg{
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
    color: black;
    transition: all 0.3s ease;
}
.link:hover svg{
    top: 19px;
}











