

.card{
    height: 55px;
    width: 200px;
    background: #f5f5f5;
    padding: 10px;
    box-shadow: 0 4px 0 #bdbdbd,;
    border-radius: 8px;
    position: relative;
    background-repeat: no-repeat;
    background-size: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-position-x: 94px;




    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.2em 0.2em;
}

.cardTitle{
    height: 100%;
    width: 70%;
    float: left;

    display: flex
    ;
        align-items: center;
        padding-left: 10px;
        box-sizing: border-box;
}
.cardTitle p{
    text-transform: capitalize;
    margin: 0;
    font-weight: 700;
}
.cardButton{
    height: 100%;
    width: 30%;
    float: left;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: green;
    height: 30px;
    width: 30px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 3px;
    padding: 4px;

}

