.App {
  text-align: center;
  overflow-x: hidden;
}
#root{
  height: 100%;
}
/*needs to be here*/
html{
  width: 100%;
  height: 100%;
  float: left;
  zoom: 1.4; 
}
body{
  width: 100%;
  height: 100%;
  float: left;
}
#root{
  width: 100%;
  height: 100%;
  float: left;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
