.pokedexList{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 20px;
    display: flex;
    justify-items: center;
    
}
@media (max-width: 700px) {
    .pokedexList{
        padding: unset;
    }
}