html{
    width: 100%;
    height: 100%;
    float: left;
}
body{
    width: 100%;
    height: 100%;
    float: left;
}
#root{
    width: 100%;
    height: 100%;
    float: left;
}
.App{
    width: 100%;
    height: 100%;
    float: left;
}


.center{
    width: 100%;
    height: 100%;
    float: left;
    border: 1px solid;
    display: flex
;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    gap: 30px;
}
.mainBlock{
    width: 70%;
    height: 100%;
   background-color: blue;
    width: 1400px;
}
.mainHeader{
    height: 100px;
    background-color: green;
    width: 100%;
    float: left;
}
.mainContent{
    height: 1000px;
    background-color: pink;
    width: 100%;
    float: left;
}



.sideBlock{
    width: 30%;
    height: 100%;
    background-color: red;
    width: 570px;
}






















.card{
    width: 350px;
    min-height: 300px;
    float: left;
    /* border: 1px solid; */
    background-color: white;
    color: rgb(54, 54, 54);
    border-radius: 14px;
}
.cardTitle{
    width: 100%;
    min-height: 100px;
    float: left;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}
.cardTitle h2{
    margin: 0;
    text-align: left;
    font-size: 38px;
    color: black;
}
.cardTitle p{
    margin: 0;
    text-align: left;
}


.cardType{
    display: flex
;
    min-width: 100px;
    min-height: 20px;
    height: fit-content;
    float: left;

    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.typeImage{
    min-width: 20px;
    min-height: 20px;
    height: fit-content;
    width: fit-content;
    float: left;
    background-color: blue;
}
.typeName{
    min-width: 20px;
    min-height: 20px;
    height: fit-content;
    width: fit-content;
    float: left;

}
.typeName p{
    color: black;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}
.cardImage{
    width: 300px;
    height: 300px;
    position: absolute;
    top: -115px;
    /* border: 1px solid; */
    right: -48px;
    image-rendering: pixelated;
  image-rendering: crisp-edges; 
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png");
    background-size: cover; /* or 'contain' depending on layout */
    background-repeat: no-repeat;
    background-position: center;


}





.cardInformations{
    width: 100%;
    min-height: fit-content;
    float: left;
    display: flex
;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    /* z-index: 2; */
    /* position: relative; */
    column-gap: 20px;
}
.cardInfo{
    width: fit-content;
    height: fit-content;
    /* width: 60px; */
    display: flex;
    flex-direction: column;
}
.cardInfoTitle{
    width: fit-content;
    height: fit-content;
    float: left;
}
.cardInfoTitle p{
    font-size: 12px;
    /*color: #bcbc1d;*/
    font-weight: 500;
}
.cardInfoContent{
    width: fit-content;
    height: fit-content;
    float: left;

}
.cardInfoContent p{
    font-size: 20px;
    color: rgb(78 78 78);
    font-weight: 700;
}
.cardInfo p{
    margin: 0;
    text-align: left;
    width: fit-content;
}






.cardDescription{
    float: left;
    width: 100%;
    min-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: white;
    padding-bottom: 20px;
}
.cardDescription p{
    text-align: left;
    margin: 0;
    font-weight: 600;
    color: rgb(140 140 140);
}

.cardStats{
    float: left;
    width: 100%;
    min-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}




.generatePokemonButton{
    width: 70px;
    height: 40px;
    background-color: red;
}